/deep/ form {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;

  .button-wrapper {
    margin-top: 20px;
  }
}

/deep/ .rate-row {
  font-size: 0;
  padding: 0;
  margin: 0;
  position: relative;
  height: 60px;
  border: 2px solid #c5c5c5;

  &:nth-child(2) {
    margin-top: -2px;
  }

  &.focus {
    border-color: #1691c6;
    z-index: 1;

    input {
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: grey;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: grey;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: grey;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: grey;
      }
    }

    .currency-wrapper {
      background-color: #1691c6;

      select {
        color: #fff;
        background-color: transparent;
      }
    }
  }
}

app-currency {
  height: 60px;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  font-size: 16px;
}

app-input {
  display: inline-block;
  width: 80%;
}

.current-rate-wrapper {
  margin-top: 20px;
  text-align: left;

  p {
    padding: 0 10px;
  }

  app-input {
    display: block;
    width: 100%;

    .input-wrapper {
      label {
        font-size: 13px;
        line-height: 14px;
        text-transform: capitalize;
      }
    }
  }
  
  .buttons-wrapper {
    text-align: center;
  }
}